.todo {
  display: flex;
  align-items: start;
}

.todo .todo-description {
  flex: 1;
}

.todo .favorite,
.todo .complete {
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.todo .complete {
  margin-right: 7px;
}

.todo .favorite.favorite-checked {
  background-image: url('../../../assets/images/favorite-checked.png');
}

.todo .favorite.favorite-unchecked {
  background-image: url('../../../assets/images/favorite-unchecked.png');
}

.todo .complete.complete-checked {
  background-image: url('../../../assets/images/complete-checked.png');
}

.todo .complete.complete-unchecked {
  background-image: url('../../../assets/images/complete-unchecked.png');
}

.todo .badge.badge-delete {
  cursor: pointer;
  min-width: 1.5em;
  margin-left: 8px;
  font-size: inherit;
  font-family: sans-serif;
}
