.FormControlInput {
  display: flex;
}

.FormControlInput .form-control-input-label {
  flex: 1;
  margin-bottom: 0.5em;
}

.FormControlInput .form-control {
  outline: none;
  resize: vertical;
  min-height: 2.5em;
  font-size: 1em !important;
  border-radius: 4px !important;
}
